<%- include("../partials/header") -%>
    <h1>Profile Exists</h1>
    <%= user.username %>
    <% if(userAuth) { %>
        <p>you are viewing this page as an authorized user</p>
    <% } %>
    <br>
    <br>
    <div>
        <form action="/rocks/<%= user._id %>?_method=PUT" method="post">
            <input type="text" name="profile" value="<%= user.profile %>">
            <button type="submit">Update User Description</button>
        </form>
    </div>
    <% let count = 0 %>
    <div class="inventory">

        <% user.inventory.forEach(rock => { %>
            <div class="rock">
                <h6><%= rock.name %></h6>
                <p><%= rock.rarity %></p>
                <img src="/images/<%= rock.image %>" alt="<%= rock.name %>">
                <form action="/rocks/<%= user._id %>/<%= count %>?_method=DELETE" method="post">
                    <button type="submit">Remove from inventory</button>
                </form>
                <% count++ %>
            </div>
            
        <% }); %>
    </div>

    <a href="<%= user._id %>/gacha">Get rocks</a>


</body>
</html>