<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blegh</title>
</head>
<body>
    <h1>Profile Exists</h1>
    <%= user.username %>
    <br>

    <% let count = 0 %>
    <% user.inventory.forEach(rock => { %>
        <div>
            <h6><%= rock.name %></h6>
            <p><%= rock.rarity %></p>
            <p><%= rock.image %></p>
            <form action="/rocks/<%= user._id %>/<%= count %>?_method=DELETE" method="post">
                <button type="submit">Remove from inventory</button>
            </form>
            <% count++ %>
        </div>
        
    <% }); %>

    <a href="<%= user._id %>/gacha">Get rocks</a>


</body>
</html>